In [2]:
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.naive_bayes import BernoulliNB
corpus = [
  'the cat is on the table',
  'the dog is in the room',
  'the table is in the room',
  'the cat is not a dog',
  'the cat and the dog are in the room',
  'the room is not a table',
]
labels = [
  'animals',
  'animals',
  'not_animals',
  'animals',
  'animals',
  'not_animals'
]
df = pd.DataFrame({'Texts':corpus,'Labels':labels})
cv = CountVectorizer(token_pattern='\w+')
BoW = cv.fit_transform(df['Texts'])
classifier = BernoulliNB()
classifier.fit(BoW,df['Labels'])
predictions = classifier.predict(BoW)
df['Predictions']=predictions
df

                                 Texts       Labels  Predictions
0              the cat is on the table      animals      animals
1               the dog is in the room      animals      animals
2             the table is in the room  not_animals  not_animals
3                 the cat is not a dog      animals      animals
4  the cat and the dog are in the room      animals      animals
5              the room is not a table  not_animals  not_animals

In [5]:
print(BoW)

  (0, 11)	2
  (0, 3)	1
  (0, 6)	1
  (0, 8)	1
  (0, 10)	1
  (1, 11)	2
  (1, 6)	1
  (1, 4)	1
  (1, 5)	1
  (1, 9)	1
  (2, 11)	2
  (2, 6)	1
  (2, 10)	1
  (2, 5)	1
  (2, 9)	1
  (3, 11)	1
  (3, 3)	1
  (3, 6)	1
  (3, 4)	1
  (3, 7)	1
  (3, 0)	1
  (4, 11)	3
  (4, 3)	1
  (4, 4)	1
  (4, 5)	1
  (4, 9)	1
  (4, 1)	1
  (4, 2)	1
  (5, 11)	1
  (5, 6)	1
  (5, 10)	1
  (5, 9)	1
  (5, 7)	1
  (5, 0)	1

In [12]:
cv.vocabulary_

{'the': 11,
 'cat': 3,
 'is': 6,
 'on': 8,
 'table': 10,
 'dog': 4,
 'in': 5,
 'room': 9,
 'not': 7,
 'a': 0,
 'and': 1,
 'are': 2}

In [13]:
import numpy as np

exp_results = np.exp(classifier.feature_log_prob_)

In [16]:
pd.DataFrame(exp_results[0])

           0
0   0.333333
1   0.333333
2   0.333333
3   0.666667
4   0.666667
5   0.500000
6   0.666667
7   0.333333
8   0.333333
9   0.500000
10  0.333333
11  0.833333

In [17]:
pd.DataFrame(exp_results[1])

       0
0   0.50
1   0.25
2   0.25
3   0.25
4   0.25
5   0.50
6   0.75
7   0.50
8   0.25
9   0.75
10  0.75
11  0.75

In [18]:
np.exp(classifier.class_log_prior_)

array([0.66666667, 0.33333333])

In [3]:
classifier.predict_proba(BoW)

array([[0.79581183, 0.20418817],
       [0.83862095, 0.16137905],
       [0.12614129, 0.87385871],
       [0.95899061, 0.04100939],
       [0.99058655, 0.00941345],
       [0.0348305 , 0.9651695 ]])

In [21]:
# Solve for proba of #1
numerator = 0.67 * 0.67 * 0.3 * 0.3 * 0.83
class_0_prob = 0.67
final_numerator = numerator * class_0_prob
final_numerator

0.0224669961

In [25]:
inverse_class_0_numerator = \
  (1 - 0.67) \
  * (1 - 0.67) \
  * (1 - 0.3) \
  * (1 - 0.3) \
  * (1 - 0.83)
inverse_class_0_prob = 1 - 0.67
final_inverse_class_0_prob = inverse_class_0_numerator * inverse_class_0_prob

final_inverse_class_0_prob

0.002993552099999999

In [44]:
class_1_numerator = 0.25 * 0.75 * 0.25 * 0.75 * 0.75
class_1_prob = 0.33
final_class_2_numerator = class_1_numerator * class_1_prob
final_class_2_numerator

0.008701171875

In [47]:
inverse_class_1_numerator = \
  (1 - 0.25) \
  * (1 - 0.75) \
  * (1 - 0.25) \
  * (1 - 0.75) \
  * (1 - 0.75)
inverse_class_1_prob = 1 - 0.33
final_inverse_class_1_prob = inverse_class_1_numerator * inverse_class_1_prob
final_inverse_class_1_prob

0.005888671874999999

In [48]:
class_0_num = final_numerator * inverse_class_0_numerator
class_0_num

0.000203806434411657

In [49]:
(class_0_num) / (class_0_num + (final_class_2_numerator * inverse_class_1_numerator))

0.7271488764234546